<a href="https://colab.research.google.com/github/wlvvs/FY22-Q2-AI-Hackathon-Anomaly-Detection/blob/master/notebooks/AnomalyDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd
import numpy as np

Dentro del repositorio de Github que se estará usando, está el dataset base con el cual se da inicio al análisis de información

In [66]:
url = 'https://raw.githubusercontent.com/wlvvs/FY22-Q2-AI-Hackathon-Anomaly-Detection/master/data/raw/ABCDPublishingStatistics2017-2022_Master.csv'

Explicar el dataset y como se esta descargando la informacion. Porque solo se estan contemplando ciertos campos para la descarga bajo transformacion

In [77]:
df = pd.read_csv(url,sep ='|',
                 parse_dates = ['PKG_EFFECTIVE_DATE', 'PKG_APPROVAL_DATE', 'PKG_FILED_DATE','PKG_CREATE_DATE', 'PKG_PUBLISHED_DATE'])

Muestra de datos en totalidad antes de la discriminacion de columnas

In [78]:
df.sample(5)

          PKG_ID PKG_JURIS  ... PKG_VISIBLE PKG_AUTO_PROCESS
9461  KY-20-0039  KENTUCKY  ...           Y                Z
5156  GA-18-0060   GEORGIA  ...           Y                Z
8052  MU-20-0010    MICHRC  ...           Y                N
2837  TX-18-0001     TEXAS  ...           Y                N
8837  OK-20-0005  OKLAHOMA  ...           Y                Z

[5 rows x 27 columns]

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11719 entries, 0 to 11718
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PKG_ID              11719 non-null  object
 1   PKG_JURIS           11719 non-null  object
 2   PKG_STATUS          11719 non-null  object
 3   PKG_TITLE           11719 non-null  object
 4   PKG_ISSUE_DATE      11719 non-null  object
 5   PKG_EFFECTIVE_DATE  11719 non-null  datetime64[ns]
 6   PKG_APPROVAL_DATE   11719 non-null  datetime64[ns]
 7   PKG_SUBMIT_DATE     11245 non-null  object
 8   PKG_RDY_DATE        11245 non-null  object
 9   PKG_FILED_DATE      11719 non-null  datetime64[ns]
 10  PKG_PRINT_REQ_FLAG  2173 non-null   object
 11  PKG_DELETE_FLAG     11719 non-null  object
 12  PKG_FILING_NO       11719 non-null  object
 13  PKG_CREATE_DATE     11719 non-null  datetime64[ns]
 14  PKG_ORG             11719 non-null  int64
 15  PKG_RET_WHOL        11719 non-null  int64
 16  PKG_PROJ_TYPE       11719 non-null  int64
 17  PKG_FILING_TYPE     11719 non-null  int64
 18  PKG_BUS_UNIT        11719 non-null  int64
 19  PKG_ADVICE_LETTER   11719 non-null  int64
 20  PKG_STATE_SPECF1    4036 non-null   object
 21  PKG_STATE_SPECF2    3632 non-null   object
 22  PKG_STATE_SPECF3    4923 non-null   object
 23  PKG_STATE_SPECF4    3382 non-null   object
 24  PKG_PUBLISHED_DATE  11669 non-null  datetime64[ns]
 25  PKG_VISIBLE         11719 non-null  object
 26  PKG_AUTO_PROCESS    11719 non-null  object
dtypes: datetime64[ns](5), int64(6), object(16)
memory usage: 2.4+ MB

Explicar la discriminacion de columnas

In [80]:
df = df[['PKG_ID', 'PKG_JURIS', 'PKG_EFFECTIVE_DATE', 'PKG_APPROVAL_DATE',
         'PKG_FILED_DATE','PKG_CREATE_DATE', 'PKG_ORG', 'PKG_RET_WHOL',
         'PKG_PROJ_TYPE', 'PKG_FILING_TYPE', 'PKG_BUS_UNIT', 'PKG_ADVICE_LETTER',
         'PKG_PUBLISHED_DATE', 'PKG_AUTO_PROCESS']]

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11719 entries, 0 to 11718
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PKG_ID              11719 non-null  object
 1   PKG_JURIS           11719 non-null  object
 2   PKG_EFFECTIVE_DATE  11719 non-null  datetime64[ns]
 3   PKG_APPROVAL_DATE   11719 non-null  datetime64[ns]
 4   PKG_FILED_DATE      11719 non-null  datetime64[ns]
 5   PKG_CREATE_DATE     11719 non-null  datetime64[ns]
 6   PKG_ORG             11719 non-null  int64
 7   PKG_RET_WHOL        11719 non-null  int64
 8   PKG_PROJ_TYPE       11719 non-null  int64
 9   PKG_FILING_TYPE     11719 non-null  int64
 10  PKG_BUS_UNIT        11719 non-null  int64
 11  PKG_ADVICE_LETTER   11719 non-null  int64
 12  PKG_PUBLISHED_DATE  11669 non-null  datetime64[ns]
 13  PKG_AUTO_PROCESS    11719 non-null  object
dtypes: datetime64[ns](5), int64(6), object(3)
memory usage: 1.3+ MB

Explicar los valores nulos y el impacto en modelos predictivos

In [82]:
df.isna().sum()

PKG_ID                 0
PKG_JURIS              0
PKG_EFFECTIVE_DATE     0
PKG_APPROVAL_DATE      0
PKG_FILED_DATE         0
PKG_CREATE_DATE        0
PKG_ORG                0
PKG_RET_WHOL           0
PKG_PROJ_TYPE          0
PKG_FILING_TYPE        0
PKG_BUS_UNIT           0
PKG_ADVICE_LETTER      0
PKG_PUBLISHED_DATE    50
PKG_AUTO_PROCESS       0
dtype: int64

In [83]:
df = df.dropna()

Explicar la forma en que se estan eliminando los registros y porque se eliminan sin temor de afectar el proceso predictivo. Mostrar numeros y validacion de eliminación de datos

In [84]:
df.isna().sum()

PKG_ID                0
PKG_JURIS             0
PKG_EFFECTIVE_DATE    0
PKG_APPROVAL_DATE     0
PKG_FILED_DATE        0
PKG_CREATE_DATE       0
PKG_ORG               0
PKG_RET_WHOL          0
PKG_PROJ_TYPE         0
PKG_FILING_TYPE       0
PKG_BUS_UNIT          0
PKG_ADVICE_LETTER     0
PKG_PUBLISHED_DATE    0
PKG_AUTO_PROCESS      0
dtype: int64

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11669 entries, 0 to 11718
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PKG_ID              11669 non-null  object
 1   PKG_JURIS           11669 non-null  object
 2   PKG_EFFECTIVE_DATE  11669 non-null  datetime64[ns]
 3   PKG_APPROVAL_DATE   11669 non-null  datetime64[ns]
 4   PKG_FILED_DATE      11669 non-null  datetime64[ns]
 5   PKG_CREATE_DATE     11669 non-null  datetime64[ns]
 6   PKG_ORG             11669 non-null  int64
 7   PKG_RET_WHOL        11669 non-null  int64
 8   PKG_PROJ_TYPE       11669 non-null  int64
 9   PKG_FILING_TYPE     11669 non-null  int64
 10  PKG_BUS_UNIT        11669 non-null  int64
 11  PKG_ADVICE_LETTER   11669 non-null  int64
 12  PKG_PUBLISHED_DATE  11669 non-null  datetime64[ns]
 13  PKG_AUTO_PROCESS    11669 non-null  object
dtypes: datetime64[ns](5), int64(6), object(3)
memory usage: 1.3+ MB

Explicar la adicion de nuevas columnas al dataset, con base en lo que se espera revisar y lo que se va a calcular

In [91]:
df['#Days'] = df['PKG_PUBLISHED_DATE'] - df['PKG_APPROVAL_DATE']
df['#Days'] = df['#Days']/np.timedelta64(1,'D')
df.sample(5)

          PKG_ID    PKG_JURIS  ...        #Hours AutoPublished
3881  HI-18-0005       HAWAII  ...      0.850000          True
7595  MS-19-0009  MISSISSIPPI  ...      1.200000          True
4317  CA-18-0025   CALIFORNIA  ...  14436.283333         False
4786  IS-18-0070   INTERSTATE  ...      0.850000          True
7842  MO-20-0002     MISSOURI  ...      0.916667          True

[5 rows x 17 columns]

In [92]:
df['#Hours'] = df['PKG_PUBLISHED_DATE'] - df['PKG_APPROVAL_DATE']
df['#Hours'] = df['#Hours']/np.timedelta64(1,'h')
df.sample(5)

           PKG_ID   PKG_JURIS  ...      #Hours AutoPublished
10343  MO-21-0025    MISSOURI  ...  174.150000         False
7572   TN-19-0047   TENNESSEE  ...    0.533333          True
10817  UT-21-0500        UTAH  ...  722.883333         False
4990   CA-18-0062  CALIFORNIA  ...    4.300000          True
530    TX-17-0017       TEXAS  ...    0.816667          True

[5 rows x 17 columns]

In [94]:
df['AutoPublished'] = df['#Days'].apply(lambda x: x >= 0 and x <=1)
df.sample(5)

           PKG_ID PKG_JURIS  ...       #Hours AutoPublished
9460   KY-21-0002  KENTUCKY  ...     0.900000          True
4966   NV-18-0028    NEVADA  ...     1.466667          True
11235  CO-21-0011  COLORADO  ...   735.600000         False
10541  OK-21-0042  OKLAHOMA  ...     2.133333          True
11371  IL-21-0013  ILLINOIS  ...  4391.950000         False

[5 rows x 17 columns]

Revisa el caso que investigaste en liga y replantea tu modelo
https://www.statology.org/logistic-regression-python/